<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Rating</h2>
	</div>

	<div class="row">
		<form th:action="@{/api/rating/validate}" th:object="${ratingDTO}" method="post" class="form-horizontal" style="width: 100%">
			<!--Create a form to input the values of Rating, there are 2 buttons: Save data and Cancel to the list Rating-->
			<div class="mb-4">
				<label class="mb-2" for="moodysRating">Moody'S Rating</label>
				<input id="moodysRating" class="form-control" type="text" name="moodysRating" th:field="*{moodysRating}" placeholder="Moody'S Rating">
				<span class="text-danger" th:if="${#fields.hasErrors('moodysRating')}" th:errors="*{moodysRating}"></span>
			</div>
			<div class="mb-4">
				<label class="mb-2" for="sandPRating">Sand P Rating</label>
				<input id="sandPRating" class="form-control" type="text" name="sandPRating" th:field="*{sandPRating}" placeholder="Sand P Rating">
				<span class="text-danger" th:if="${#fields.hasErrors('sandPRating')}" th:errors="*{sandPRating}"></span>
			</div>
			<div class="mb-4">
				<label class="mb-2" for="fitchRating">Fitch Rating</label>
				<input id="fitchRating" class="form-control" type="text" name="fitchRating" th:field="*{fitchRating}" placeholder="Fitch Rating">
				<span class="text-danger" th:if="${#fields.hasErrors('fitchRating')}" th:errors="*{fitchRating}"></span>
			</div>
			<div>
				<label class="mb-2" for="orderNumber">Order Number</label>
				<input id="orderNumber" class="form-control" type="number" name="orderNumber" th:field="*{orderNumber}" placeholder="Order Number">
				<span class="text-danger" th:if="${#fields.hasErrors('orderNumber')}" th:errors="*{orderNumber}"></span>
			</div>
			<div class="mt-3">
				<a class="btn btn-danger" th:href="@{/api/rating/list}">Cancel</a>
				<button type="submit" class="btn btn-primary">Add Rating</button>
			</div>
		</form>
	</div>

</div>
</body>
</html>