<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Bid</h2>
	</div>

	<div class="row">
		<!-- th:object=${bidListDTO} iteract with bidListDTO with the addBidForm(BidListDTO bidListDTO) method from BidListController -->
		<form th:action="@{/bidList/validate}" th:object="${bidListDTO}" method="post" class="form-horizontal" style="width: 100%">
			<!--TODO: Create a form to input the values of Bid, there are 2 buttons: Save data and Cancel to the list Bid-->
			<div class="mb-4">
				<label class="mb-2" for="account">Account</label>
				<input id="account" class="form-control" type="text" name="account" th:field="*{account}" placeholder="Account">
				<span class="text-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></span>
			</div>
			<div class="mb-4">
				<label class="mb-2" for="type">Type</label>
				<input id="type" class="form-control" type="text" name="type" th:field="*{type}" placeholder="Type">
				<span class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span>
			</div>
			<div>
				<label class="mb-2" for="bidQuantity">Bid quantity</label>
				<input id="bidQuantity" class="form-control" type="number" step="0.1" name="bidQuantity" th:field="*{bidQuantity}" placeholder="Bid quantity">
				<span class="text-danger" th:if="${#fields.hasErrors('bidQuantity')}" th:errors="*{bidQuantity}"></span>
			</div>

			<div class="mt-3">
				<a class="btn btn-danger" th:href="@{/bidList/list}">Cancel</a>
				<button type="submit" class="btn btn-primary">Add BidList</button>
			</div>

		</form>
	</div>

</div>
</body>
</html>